---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import slugify from '@sindresorhus/slugify';
import Slink from "@components/ui/slink.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";


// Generate a new path for every collection entry
export async function getStaticPaths() {
  const publishedTeamMembers = await getCollection("team", ({ data }) => {
    return !data.draft && data.publishDate < new Date();
  });
  
  return publishedTeamMembers.map((entry) => ({
    params: { member: slugify(entry.data.name) },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
---

<Layout title={entry.data.name}>
    <Container>
      <main class="lg:flex place-items-left pt-16 pb-8 md:pt-12 md:pb-24">
    
        <div class="flex lg:justify-start justify-center mb-10">
          <Picture
            src={entry.data.avatar.src}
            alt={entry.data.avatar.alt}
            sizes="(max-width: 600px) 80vw, 400px"
            widths={[200, 400, 800, 1200]}
            aspectRatio="5:6"
            background="#ffffff"
            fit="cover"
            position="center"
            class="rounded-md"
          />
        </div>
        
        <div class="block max-w-[400px] lg:justify-start justify-center pl-12">
          <h2 class="text-2xl text-gray-800">
            {entry.data.name}
          </h2>
          <h3 class="text-xl text-slate-600 font-bold">
            {entry.data.title}
          </h3>
          <p class="text-lg mt-4 text-slate-600 max-w-xl pr-4">
            {entry.data.description}
          </p>
        <div/>
        
      </main>

  </Container>
</Layout>


