---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Picture } from "@astrojs/image/components";

const experiments = await getCollection("experiments", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Our Experiments">
  <Container>
    <Sectionhead>
      <Fragment slot="title">The experiments we are involved in</Fragment>
      <Fragment slot="desc">All aiming at deepening out understanding of neutrinos</Fragment>
    </Sectionhead>

    <section class="bg-white dark:bg-gray-900">
        {
          experiments.map((expEntry, index) => (
            <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
            <div class={`font-light text-gray-500 sm:text-lg dark:text-gray-400 ${index % 2 === 1 ? "order-2" : ""}`}>
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{expEntry.data.name}</h2>
                <p class="mb-4">{expEntry.data.short_description}</p>
                <p>
                  {expEntry.data.description}
                </p>
            </div>
            <div class="grid grid-cols-2 gap-4 mt-8">
            <Picture
                  src={expEntry.data.image1.src}
                  alt={expEntry.data.image1.alt}
                  widths={[400]}
                  sizes="(max-width: 800px) 100vw, 400px"
                  aspectRatio="1:1"
                  background="#ffffff"
                  fit="cover"
                  class="w-full h-80 rounded-lg object-cover object-center"
                />
            <Picture
                  src={expEntry.data.image2.src}
                  alt={expEntry.data.image2.alt}
                  widths={[400]}
                  sizes="(max-width: 800px) 100vw, 400px"
                  aspectRatio="1:1"
                  background="#ffffff"
                  fit="cover"
                  class="mt-20 w-full h-80 lg:mt-10 rounded-lg object-cover object-center"
                />
          </div>
          </div>
          ))
        }

  </section>
  </Container>
</Layout>