---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import slugify from '@sindresorhus/slugify';
import Slink from "@components/ui/slink.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";

export async function getStaticPaths() {
  const experiments = await getCollection("experiments", ({ data }) => {
    return !data.draft && data.publishDate < new Date();
  });
  
  return experiments.map((entry) => ({
    params: { experiment: slugify(entry.data.name) },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<Layout title={entry.data.name}>
  <Container>
    <section class="hero bg-gray-800 text-white py-12" style={`background-image: url(${entry.data.image1.src}); background-size: cover; background-position: center;`}>
      <div class="overlay"></div>
      <div class="container mx-auto text-center relative">
        <h1 class="text-4xl font-bold">{entry.data.name}</h1>
        <p class="text-xl mt-4">{entry.data.short_description}</p>
      </div>
    </section>

    <main class="md:flex place-items-left pt-6 pb-8 md:pt-12 md:pb-24">
      <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <h2 class="text-2xl font-bold mb-4">About the Experiment</h2>
            <p class="text-lg text-slate-600 prose"><Fragment set:html={entry.data.long_description}></Fragment></p>
          </div>
          <div>
            <Picture src={entry.data.image1.src} alt={entry.data.image1.alt} widths={[400]}
            sizes="(max-width: 800px) 100vw, 400px"
            aspectRatio="1:1"
            class="rounded-lg shadow-lg mb-8" />
            <Picture src={entry.data.image2.src} alt={entry.data.image2.alt} widths={[400]}
            sizes="(max-width: 800px) 100vw, 400px"
            aspectRatio="1:1"
            class="rounded-lg shadow-lg" />
          </div>
        </div>
      </div>
    </main>
  </Container>
</Layout>

<style>
.hero {
  position: relative;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
}

</style>


