---
// @ts-ignore
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import duneLogo from "/src/assets/experiment-logos/dune-logo-v.jpg";
import t2kLogo from "/src/assets/experiment-logos/t2k_logo_small.png";
import sndLogo from "/src/assets/experiment-logos/snd-logo.png";
import icarusLogo from "/src/assets/experiment-logos/icarus.png";
import nuscopeLogo from "/static/experiments-pics/nuscope.png";

---

<div class="mt-24">
  <h2 class="text-center text-4xl lg:text-5xl font-bold lg:tracking-tight">Our experiments</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <a href="https://dunescience.org/" target="_blank" rel="noopener noreferrer">
    <Picture
    src={duneLogo}
    alt="DUNE"
    widths={[200, 400, 600, 1200, 2400]}
    sizes="180px"
    loading="eager"
    class="w-full"
    />
    </a>


    <a href="https://t2k-experiment.org/" target="_blank" rel="noopener noreferrer">
    <Picture
    src={t2kLogo}
    alt="t2k"
    widths={[200, 400, 600, 1200, 2400]}
    sizes="180px"
    loading="eager"
    class="w-full"
    />
    </a>
    
    <a href="https://snd-lhc.web.cern.ch/" target="_blank" rel="noopener noreferrer">
    <Picture
    src={sndLogo}
    alt="snd"
    widths={[200, 400, 600, 1200, 2400]}
    sizes="180px"
    loading="eager"
    class="w-full"
    />
    </a>

    <a href="https://icarus.fnal.gov/" target="_blank" rel="noopener noreferrer">
    <Picture
    src={icarusLogo}
    alt="icarus"
    widths={[200, 400, 600, 1200, 2400]}
    sizes="100px"
    loading="eager"
    class="w-full"
    />
    </a>
  </div>

  <!-- Second row of logos -->
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <a href="https://nuscope.web.cern.ch/" target="_blank" rel="noopener noreferrer">
    <Picture
    src={nuscopeLogo}
    alt="NuScope"
    widths={[200, 400, 600, 1200, 2400]}
    sizes="180px"
    loading="eager"
    class="w-full"
    />
    </a>
  </div>
</div>